  
# Default ignored files
/workspace.xml
# Project exclude paths
/.
# Project exclude paths
/.# Maven
  target/

  # Gradle
  .gradle/

  # IntelliJ
  overlays/
  .idea/
  *.iml

  # Eclipse
  .project
  .classpath
  .metadata/
  .settings/
  .externalToolBuilders

  # External tool builders
  .externalToolBuilders/

  ### Java ###
  # Compiled class file
  *.class

  # vs code
  .vscode/
  .vs/
  .vs
/.vs/ProjectCDN/v16/Server/sqlite3
